body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #fff;
  text-align: center;
}

input,
select,
button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 1em;
}

table {
  border: 1px solid #fff;
  width: 80%;
}

th,
td {
  border: 1px solid #fff;
}

button {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  border-color: #646cff;
}